# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
__pycache__/
.pytest_cache/
*.egg-info/

# Dossiers Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Dossier Ansible
*.retry