<!DOCTYPE html>
<html>
<head>
    <title>TD DevOps - {{ ansible_hostname }}</title>
</head>
<body>
    <h1>Serveur configuré avec succès via Ansible !</h1>
    <p>IP de la VM : {{ ansible_host }}</p>
</body>
</html>